#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background: #614385;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #516395, #614385);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #516395, #614385); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
form input {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  font-size: 1em;
}
form button {
  transition: filter 300ms;
}
form button:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
form button .clear:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
ul {
  list-style: none;
  padding: 10;
  margin: 25;
  display: grid;
  gap: 0.5em;
}

li {
  justify-content: space-between;
  color: #161518;
  padding: 0.5em;
  border-radius: 0.5em;
  background: #a8e8eb;
  box-shadow: 0 0 1em #00000033;
}
